/* style for bootstap.html */

.row-main{
    margin-bottom: 5px;
    height: 40px;
}

.row-section1{
    border: 2px solid red;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 300px;
}

/* .row-section2{
    border: 2px solid rgb(177, 177, 12);
    margin-top: 15px;
    height: 500px;
} */

.container-side{
    border-bottom: 1px solid rgb(54, 54, 54);
}

.dis6{
    font-weight: bold;
    width: 100%;
    position: absolute;
    text-align: center;
    color: #ffffff;
}

.dis7{
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin: auto;
    height: 100%;
}

.dis8{
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin: auto;
    height: 100%;
}
