/*Style for Homeowrk 2*/

@import url(form.css); 
@import url(boot.css);

body{
   
    margin: auto;
}

#head{
    width: 100%;
    position: fixed;
    z-index: 1;
    top:0;
    padding: none;
    margin: auto;
    background-color: gray;
}

#main-body{
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
}


.image{
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#about, #contact{
    border: 5px solid rgb(158, 19, 19);
}

img{
    width: 50%;
}

span{
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.info{
    text-align: center;
}


footer{
    text-align: center;
    margin: 20px;
}

.container{
    padding: none;
}

p{
    color: #8b9dc3;
}

h1, h2, h3, h4{
    color: #3b5998;
}