/*Style for Homeowrk 1*/

body{
    width: 900px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#page-title {
    text-align: center;
    border-bottom: 4px solid rgb(14, 175, 14);
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-top: 3px;
    font-weight: normal;
}

#greeting {
    font-weight: normal;
    font-style: italic;
}

span {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 10px;
}

div > h3, p {
    margin-left: 5px;
    margin-bottom: none;
}

#image{
    width: 100%;
    margin-bottom: 15px;
}

img{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

form{
    margin-top: -25px;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 15px;
    width: 85%;
    height: 70%;
    padding-left: 15px;
}

table{
    width: 90%;
    border-top: 5px solid rgb(168, 11, 11);
    border-bottom: 5px solid rgb(168, 11, 11);
    padding: none;
    border-collapse: collapse;
    margin: auto;
}

td{
    width: 50%;
    border-right: 5px solid rgb(168, 11, 11);
    border-left: 5px solid rgb(168, 11, 11);
    padding-bottom: 50px;
}

th {
    padding-top: 3px;
    font-weight: normal;
    border-right: 5px solid rgb(168, 11, 11);
    border-left: 5px solid rgb(168, 11, 11);
}

#expectation{
    margin-left: 5px;
}

li{
    margin-left: 20px;
    list-style-type: decimal;
}

ul{
    margin-top: 2px;
}

#skills{
margin-left: 5px;
}

input{
    border: 1px solid gray;
    width: 70%;
    margin: none;
}

label{
    float: right;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    text-align: right;
    margin-right: 230px;
}

textarea{
    height: 50px;
}

button{
    margin-top: 25px;
    margin-left: 50px;
    margin-bottom: 20px;
    display: block;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
}

#messages{
    margin-left:40px;
}
