/*Style for Homeowrk 1*/

body{
    width: 900px;
    margin: auto;
}

header > h1 {
    text-align: center;
    border: 1px green;
}

div{
    width: 50%;
    border: 2px red;
    display: inline-block;
}