/*Style for Homeowrk 1*/

body{
    width: 900px;
    margin: auto;
}

header {
    border: 3px;
}

header h1 {
    text-align: center;
}

div{
    width: 50%;
    border: 2px red;
    display: inline-block
}